
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.site_header{
    background: var(--primary); 
    padding: 1.5rem 3rem;
    font-size: 16px;
    color: var(--white);
} 
.nav_top_right{
    display: flex; 
    justify-content: flex-end;
}
.nav_top_right a+a::before,.a_bar a+a::before{
    content: '|';
    margin: 0 15px;
    /* line-height: 0.7; */
    font-size: 14px;
}
.nav_bottom_right{ 
    display: flex; 
    padding-top:2rem;
}
.nav_bottom_right a+a::before,.a_bar a+a::before{
    content: '|';
    margin: 0 15px;
    /* line-height: 0.7; */
    font-size: 14px;
}

.locale_button{
    color: var(--white);
    background: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .site_header{
        padding: 1.5rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .site_header{
        padding: 15px 20px;
    }
    .nav_top_right{
        display: block;
    }
    .nav_top_right a+a::before,.a_bar a+a::before,.nav_bottom_right a+a::before,.a_bar a+a::before{
        content: none;
    }
    .nav_top_right a,
    .nav_bottom_right a{
        display: block;
        margin-bottom: 10px ;
    }
    .nav_bottom_right{ 
        padding:0;
    }
    .locale_button{
        display: block;
        margin-bottom: 10px;
    }
    .lang_icon{
        margin-left: 35px;
    }
}